body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: blue;
    color: orange;
    width: fit-content;
    border-radius: 30px;
}

body .jumbotron {
    border-radius: 30px;
    padding: 2em;
    width: 40%;
    background-color: gray;
    color: chartreuse;
}

body .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: aliceblue;
    display: inline-block;
}